Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_php7.c>
  php_flag session.use_trans_sid off
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^www.sotsvyaz.ru$ [NC]
  RewriteRule ^(.*)$ https://sotsvyaz.ru/$1 [R=301,L]
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]

  Redirect 301 /usilenie-signala/ https://sotsvyaz.ru/services/usilenie-signala/

  # Redirect 301 /operatorov/

  Redirect 301 /usilenie-svyazi-bilajn/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-bilayn/
  Redirect 301 /usilenie-svyazi-megafon/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-megafon/
  Redirect 301 /usilenie-svyazi-yota/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-yota/
  Redirect 301 /usilenie-svyazi-tele2/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-tele2/
  Redirect 301 /usilenie-svyazi-mts/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-mts/

  # Redirect 301 /v-pomeshheniyah/

  Redirect 301 /uluchshenie-svyazi-v-chastnom-dome/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-chastnykh-domakh/
  Redirect 301 /uluchshenie-svyazi-v-ofise/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-ofisakh/
  Redirect 301 /uluchshenie-svyazi-v-biznes-centre/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-biznes-tsentrakh/
  Redirect 301 /uluchshenie-svyazi-v-torgovom-centre/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-torgovykh-tsentrakh/
  Redirect 301 /uluchshenie-svyazi-v-kafe-i-restorane/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-kafe-i-restoranakh/
  Redirect 301 /uluchshenie-svyazi-v-podvalnom-pomeshhenii/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-podvalnykh-pomeshcheniyakh/
  Redirect 301 /uluchshenie-svyazi-v-parkinge/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-parkingakh/
  Redirect 301 /uluchshenie-svyazi-v-skladskom-pomeshhenii/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-skladskikh-pomeshcheniyakh/
  Redirect 301 /uluchshenie-svyazi-v-chastnoj-kvartire/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-kvartirakh/
  Redirect 301 /uluchshenie-svyazi-v-promyshlennom-pomeshhenii/ https://sotsvyaz.ru/services/usilenie-signala/usilenie-sotovogo-signala-v-promyshlennykh-pomeshcheniyakh/

  Redirect 301 /tovary/ https://sotsvyaz.ru/catalog/

  # Redirect 301 /internet/
  # Redirect 301 /linearamplifiers/
  # Redirect 301 /cables/
  # Redirect 301 /repeaters/
  # Redirect 301 /connectors/
  # Redirect 301 /splitters/
  # Redirect 301 /antennas/

  Redirect 301 /stati/ https://sotsvyaz.ru/blog/

  Redirect 301 /5g-v-rossii/ https://sotsvyaz.ru/blog/5g-v-rossii/
  Redirect 301 /chastoty-operatorov-v-band/ https://sotsvyaz.ru/blog/chastoty-operatorov-v-band/
  Redirect 301 /na-kakoj-chastote-rabotaet-tele2-v-moskve/ https://sotsvyaz.ru/blog/na-kakoy-chastote-rabotaet-tele2-v-moskve/
  Redirect 301 /ustanovka-sistemy/ https://sotsvyaz.ru/blog/ustanovka-sistemy/
  Redirect 301 /vreden-li-usilitel-sotovoj-svyazi/ https://sotsvyaz.ru/blog/vreden-li-usilitel-sotovoy-svyazi/
  Redirect 301 /kontakty/ https://sotsvyaz.ru/contacts/
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>