.navbar-nav {
  --bs-nav-link-color: var(--dark-color);
  --bs-nav-link-hover-color: var(--gray-color);
  --bs-nav-link-disabled-color: var(--gray-color);

  .nav-link {
    transition: all .25s ease-in-out;
    padding: 15px 20px !important;
    font-weight: 600;

    @media (max-width: 1198.98px) {
      padding: 15px 0 !important;
    }

    &.active {
      font-weight: 700;
      color: var(--dark-color);
    }
  }

  .dropdown-toggle::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: var(--font-size-small);
    content: "\f107";
    color: var(--primary-color);
    border: 0;
    margin: 0 0 0 8px;
    vertical-align: middle;
  }
}

.dropdown-menu {
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 15px;
  --bs-dropdown-color: var(--dark-color);
  --bs-dropdown-bg: var(--white-color);
  --bs-dropdown-border-width: 0;
  --bs-dropdown-link-color: var(--dark-color);
  --bs-dropdown-link-hover-color: var(--gray-color);
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-active-color: var(--dark-color);
  --bs-dropdown-link-active-bg: transparent;
  --bs-dropdown-item-padding-x: 30px;
  --bs-dropdown-item-padding-y: 15px;
  --bs-dropdown-spacer: 0;

  border-radius: 0 0 2px 2px;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.075);

  &[data-bs-popper] {
    top: calc(100% + 19px);
  }

  & .dropdown-item {
    font-weight: 600;
    font-size: var(--font-size-small);

    &.active {
      font-weight: 700;
    }
  }

  @media (max-width: 1399.98px) {
    --bs-dropdown-font-size: 0.95rem;
  }

  @media (max-width: 1198.98px) {
    border-radius: 0;
    border-bottom: 1px solid rgba(177, 189, 202, 0.25);
    box-shadow: none;
  }
}

.navbar-toggler {
  padding: 0;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;

  &__text {
    font-size: var(--font-size-small);
    color: var(--light-gray-color);
    margin-right: 5px;
    text-transform: lowercase;

    @media (max-width: 349.98px) {
      display: none;
    }
  }

  &__icon {
    font-size: 1.5rem;
    color: var(--primary-color);
    width: 24px;
  }
}