.sitemap {
  & ol {
    list-style: none;
    counter-reset: li;
    margin: 0;
  }

  &__list {
    padding-left: 0;
  }

  &__sub-list {
    margin-top: 10px !important;
    padding-left: 1rem;
  }

  &__item::before {
    counter-increment: li;
    content: counters(li, ".") ". ";
    font-weight: 700;
    margin-right: 5px;
    color: var(--dark-color);
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {

  }

  &__description {
    font-size: var(--font-size-small);
    color: var(--dark-color);
    margin-bottom: 10px;
  }
}

